*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.btn {
  padding: 18px 20px;
  border-radius: 10px;
  text-align: center;
  color: #fcf9f8;
}

a.btn {
  text-decoration: none;
}

.image-container {
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: 20px -200px;
}

.image-container p {
  padding: 0 24px 70px;
}

.container {
  display: inline-flex;
  padding: 40px 24px 0;
}
.container .pattern-1 {
  width: 100%;
  max-width: 312px;
  min-width: 266px;
  max-height: 400px;
  display: none;
  position: relative;
  top: -75px;
  right: -60px;
}

.copy-container {
  max-width: 840px;
}
.copy-container h1 {
  margin: 64px 0 20px 0;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -0.45px;
  line-height: 1.1;
}
.copy-container p {
  font-size: 1rem;
  margin-bottom: 144px;
}

.middle-container {
  max-height: 900px;
  margin-top: 120px;
}
.middle-container .dark {
  position: relative;
  background-color: #191826;
  height: 600px;
  border-radius: 10px;
}

.middle-container .phone {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  max-width: 209px;
}

.middle-container .pattern-2 {
  text-align: center;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
}

.middle-copy {
  background-color: #fa7352;
  color: #fcf9f8;
  padding: 36px;
  position: absolute;
  top: 375px;
  left: 50%;
  max-width: 375px;
  width: 100%;
  transform: translate(-50%, 0);
  z-index: 3;
  border-radius: 10px;
}
.middle-copy h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 10px;
}
.middle-copy p:nth-child(2) {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px 0 10px 0;
  line-height: 1.5;
}
.middle-copy .four {
  font-weight: 700;
  font-size: 4.063rem;
  margin: 0 15px 15px 6px;
}
.middle-copy .month {
  margin-bottom: 20px;
  font-size: 1.25rem;
}
.middle-copy .four-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.middle-copy .buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-left: 6px;
  font-weight: 700;
  font-size: 1.125rem;
}
.middle-copy .buttons .ios {
  background-color: #191826;
}
.middle-copy .buttons .ios:hover {
  background-color: #65e2db;
}
.middle-copy .buttons .android {
  background-color: #fcf9f8;
  color: #191826;
}
.middle-copy .buttons .android:hover {
  background-color: #ffba66;
  color: #191826;
}
.middle-copy .buttons img {
  display: inline;
}
.middle-copy .buttons .ios img {
  position: relative;
  left: -7px;
  top: 3px;
}
.middle-copy .buttons .android img {
  position: relative;
  left: -7px;
  top: 5px;
}

footer {
  margin-top: 370px;
}

.footer-container {
  margin-top: 50px;
  margin: 0 24px;
}
.footer-container img {
  margin-bottom: 32px;
  grid-area: equalizer;
}
.footer-container div {
  grid-area: rights;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 50px;
}
.footer-container p span {
  font-weight: 700;
}
.footer-container .icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.footer-container .icons img:first-child:hover {
  filter: invert(64%) sepia(25%) saturate(6279%) hue-rotate(327deg) brightness(102%) contrast(96%);
}
.footer-container .icons img:not(:last-child) {
  margin-right: 20px;
}

@media (min-width: 600px) {
  footer {
    margin-top: 150px;
  }

  .container .pattern-1 {
    display: block;
  }

  .middle-container {
    margin-top: -70px;
  }

  .middle-container .dark {
    max-width: 696px;
    margin: 0 33px;
  }

  .middle-container .phone {
    top: 150px;
    left: 29%;
    max-width: 270px;
  }

  .middle-container .pattern-2 {
    max-width: 280px;
    left: 54%;
    top: 31%;
  }

  .middle-copy {
    left: 64%;
    top: 27%;
    max-width: 399px;
  }

  .image-container {
    background-image: url("../assets/bg-main-tablet.png");
    background-repeat: no-repeat;
    min-height: 808px;
    background-position: -390px -242px;
  }

  .container {
    padding: 40px 24px 0;
  }

  .copy-container h1 {
    margin: 95px 0 0 0;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.73px;
    line-height: 1;
  }

  .copy-container img {
    margin-top: 22px;
  }

  .image-container p {
    margin-top: -20px;
    margin-bottom: 150px;
    max-width: 520px;
  }

  .middle-container {
    max-height: 700px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 33px;
  }

  .equal-rights {
    display: flex;
    flex-direction: column;
    max-width: 366px;
  }

  .equal-rights .equalizer {
    align-self: flex-start;
  }

  .icons img {
    align-self: center;
  }
}
@media (min-width: 800px) {
  .image-container {
    background-image: none;
  }

  .middle-container .dark {
    max-width: 1000px;
    margin: 0 33px;
  }

  .middle-container .phone {
    top: 150px;
    left: 29%;
    max-width: 270px;
  }

  .middle-container .pattern-2 {
    max-width: 280px;
    left: 54%;
    top: 31%;
  }

  .middle-copy {
    left: 64%;
    top: 27%;
    max-width: 399px;
  }

  body {
    max-width: 1440px;
    margin: auto;
    background-image: url("../assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px -200px;
  }
}
@media (min-width: 1000px) {
  .middle-container .dark {
    margin: 0 33px;
  }
}
@media (min-width: 1109px) {
  .middle-container .dark {
    margin: 0 11.8%;
    max-width: 1110px;
  }

  .footer-container {
    max-width: 1110px;
    margin: 0 11.8%;
  }
}
@media (min-width: 1440px) {
  .copy-container {
    max-width: 100%;
  }

  .copy-container img {
    margin: 62px 0 0 165px;
  }

  .copy-container h1 {
    margin: 95px 0 0 148px;
    font-weight: 700;
    font-size: 5.5rem;
    letter-spacing: -0.73px;
    line-height: 1;
  }

  .image-container p {
    margin: -40px 0 0 165px;
    font-size: 1.125rem;
    padding-right: 0;
    max-width: 860px;
  }

  .container .pattern-1 {
    max-height: 468px;
    top: -85px;
    right: -22px;
  }

  .middle-copy {
    margin-left: 4px;
    left: 72%;
    top: 15%;
    min-width: 446px;
    min-height: 625px;
    padding: 60px 56px;
  }

  .middle-copy h2 {
    font-size: 2.5rem;
    margin: 20px 0 20px 0;
  }

  .middle-copy p:nth-child(2) {
    font-size: 1.125rem;
    line-height: 1.7;
  }

  section {
    margin-top: 130px;
  }

  .middle-copy .four {
    margin: 10px 15px 20px 6px;
  }

  .middle-container .phone {
    top: 17%;
    margin-left: 4px;
    left: 23%;
    max-width: 312px;
  }

  .middle-container .pattern-2 {
    max-width: 312px;
    top: 32%;
    left: 44.6%;
  }

  footer {
    margin-top: 200px;
  }

  .footer-container {
    max-width: 1110px;
    margin: auto;
  }

  .equal-rights {
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
  }

  .rights {
    max-width: 366px;
  }

  .footer-container .icons {
    margin-top: -15px;
  }
}

/*# sourceMappingURL=style.css.map */
