*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// variables
$green: hsl(177, 68%, 64%);
$orange: hsl(12, 94%, 65%);
$yellow: hsl(33, 100%, 70%);
$white: hsl(20, 33%, 98%);
$black: hsl(244, 23%, 12%);

.btn {
  padding: 18px 20px;
  border-radius: 10px;
  text-align: center;
  color: $white;
}

a.btn {
  text-decoration: none;
}

.container {
  display: flex;
  margin: 40px 24px;
}

.copy-container {
  flex: 2;
}

.container .pattern-1 {
  width: 100%;
  flex: 1;
  max-width: 312px;
  display: none;
}

.copy-container h1 {
  margin: 64px 0 20px 0;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.45px;
}

.copy-container p {
  font-size: 16px;
}

.middle-container {
  border-radius: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr minmax(208px, 312px) 1fr;
  grid-template-rows: repeat(20, 1fr);
  max-height: 1024px;
  margin-top: 157px;
}
.middle-container .dark {
  background-color: $black;
  min-height: 600px;
  grid-column: 1 / 4;
  grid-row: 4 / -1;
}

.middle-container .phone {
  width: 100%;
  margin: -98px auto 0;
  z-index: 2;
  max-width: 209px;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}

.middle-container .pattern-2 {
  text-align: center;
  width: 100%;
  max-width: 280px;
  z-index: 1;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  margin-bottom: 100px;
}

.middle-copy {
  background-color: $orange;
  color: $white;
  padding: 36px;
  grid-row: 5 / 9;
  grid-column: 1 / 4;
  z-index: 3;
  margin: -20px 0 -60px 0;
  border-radius: 10px;
  min-height: 546px;
}

.middle-copy h2 {
  font-weight: 700;
  font-size: 32px;
}

.middle-copy p:nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0 10px 0;
  line-height: 1.5;
}

.middle-copy .four {
  font-weight: 700;
  font-size: 65px;
  margin: 0 15px 15px 6px;
}

.middle-copy .month {
  margin-bottom: 20px;
  font-size: 20px;
}

.middle-copy .four-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.middle-copy .buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-left: 6px;
}

.buttons .ios {
  background-color: $black;
}

.buttons .android {
  background-color: $white;
  color: $black;
}

footer {
  margin-top: 50px;
}
