*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// variables

$green: hsl(177, 68%, 64%);
$orange: hsl(12, 94%, 65%);
$yellow: hsl(33, 100%, 70%);
$white: hsl(20, 33%, 98%);
$black: hsl(244, 23%, 12%);
.btn {
  padding: 18px 20px;
  border-radius: 10px;
  text-align: center;
  color: $white;
}

a.btn {
  text-decoration: none;
}

.image-container {
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  height: 480px;
  background-position: 20px -200px;
}

.container {
  display: inline-flex;
  padding: 40px 24px;
}

.container .pattern-1 {
  width: 100%;
  max-width: 312px;
  min-width: 266px;
  max-height: 400px;
  display: none;
  position: relative;
  top: -75px;
  right: -60px;
}
.copy-container {
  min-width: 327px;
  max-width: 840px;
}

.copy-container h1 {
  margin: 64px 0 20px 0;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.45px;
}

.copy-container p {
  font-size: 16px;
  margin-bottom: 144px;
}

.middle-container {
  border-radius: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr minmax(208px, 312px) 1fr;
  grid-template-rows: repeat(20, 1fr);
  max-height: 900px;
  margin-top: 120px;
}

.middle-container .dark {
  background-color: $black;
  height: 600px;
  grid-column: 1 / 4;
  grid-row: 1 / 9;
}

.middle-container .phone {
  width: 100%;
  margin: -98px auto 0;
  z-index: 2;
  max-width: 209px;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}

.middle-container .pattern-2 {
  text-align: center;
  width: 100%;
  max-width: 280px;
  z-index: 1;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  margin: 0 auto 100px;
}

.middle-copy {
  background-color: $orange;
  color: $white;
  padding: 36px;
  grid-row: 9 / 17;
  grid-column: 1 / 4;
  z-index: 3;
  margin: 20px 0 -60px 0;
  border-radius: 10px;
  min-height: 546px;
  max-width: 446px;
}

.middle-copy h2 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
}

.middle-copy p:nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0 10px 0;
  line-height: 1.5;
}

.middle-copy .four {
  font-weight: 700;
  font-size: 65px;
  margin: 0 15px 15px 6px;
}

.middle-copy .month {
  margin-bottom: 20px;
  font-size: 20px;
}

.middle-copy .four-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.middle-copy .buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-left: 6px;
}

.buttons {
  font-weight: 700;
  font-size: 18px;
}

.buttons .ios {
  background-color: $black;
}

.buttons .android {
  background-color: $white;
  color: $black;
}

.buttons img {
  display: inline;
}

.buttons .ios img {
  position: relative;
  left: -7px;
  top: 3px;
}

.buttons .android img {
  position: relative;
  left: -7px;
  top: 5px;
}

.footer-container {
  margin: 80px 24px 10px;
}

.footer-container img {
  margin-bottom: 32px;
}

.footer-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.footer-container p span {
  font-weight: 700;
}

.footer-container .icons {
  display: flex;
  justify-content: flex-start;
}

.footer-container .icons img {
  margin-right: 20px;
}

@media (min-width: 500px) {
  .container .pattern-1 {
    display: block;
  }
}
