*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// variables

$green: hsl(177, 68%, 64%);
$orange: hsl(12, 94%, 65%);
$yellow: hsl(33, 100%, 70%);
$white: hsl(20, 33%, 98%);
$black: hsl(244, 23%, 12%);
.btn {
  padding: 18px 20px;
  border-radius: 10px;
  text-align: center;
  color: $white;
}

a.btn {
  text-decoration: none;
}

.image-container {
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: 20px -200px;
}
.image-container p {
  padding: 0 24px 70px;
}

.container {
  display: inline-flex;
  padding: 40px 24px 0;
}

.container .pattern-1 {
  width: 100%;
  max-width: 312px;
  min-width: 266px;
  max-height: 400px;
  display: none;
  position: relative;
  top: -75px;
  right: -60px;
}
.copy-container {
  min-width: 327px;
  max-width: 840px;
}

.copy-container h1 {
  margin: 64px 0 20px 0;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.45px;
}

.copy-container p {
  font-size: 16px;
  margin-bottom: 144px;
}

.middle-container {
  border-radius: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(20, 1fr);
  max-height: 900px;
  margin-top: 120px;
  border-radius: 10px;
}

.middle-container .dark {
  background-color: $black;
  height: 600px;
  border-radius: 10px;
  grid-column: 1 / -1;
  grid-row: 1 / 9;
}

.middle-container .phone {
  width: 100%;
  margin: -118px auto 0;
  z-index: 2;
  max-width: 209px;
  grid-row: 1 / 8;
  grid-column: 4 / 12;
}

.middle-container .pattern-2 {
  text-align: center;
  width: 100%;
  // max-width: 280px;
  z-index: 1;
  grid-row: 1 / 12;
  grid-column: 3 / 13;
  margin: 0 auto 100px;
}

.middle-copy {
  background-color: $orange;
  color: $white;
  padding: 36px;
  grid-row: 9 / 17;
  grid-column: 1 / -1;
  z-index: 3;
  margin-top: -11px;
  border-radius: 10px;
  min-height: 546px;
  max-width: 375px;
}

.middle-copy h2 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
}

.middle-copy p:nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0 10px 0;
  line-height: 1.5;
}

.middle-copy .four {
  font-weight: 700;
  font-size: 65px;
  margin: 0 15px 15px 6px;
}

.middle-copy .month {
  margin-bottom: 20px;
  font-size: 20px;
}

.middle-copy .four-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.middle-copy .buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-left: 6px;
}

.buttons {
  font-weight: 700;
  font-size: 18px;
}

.buttons .ios {
  background-color: $black;
}

.buttons .android {
  background-color: $white;
  color: $black;
}

.buttons img {
  display: inline;
}

.buttons .ios img {
  position: relative;
  left: -7px;
  top: 3px;
}

.buttons .android img {
  position: relative;
  left: -7px;
  top: 5px;
}

.footer-container {
  margin-top: 50px;
  margin-left: 24px;
}

.footer-container img {
  margin-bottom: 32px;
  grid-area: equalizer;
}

.footer-container div {
  grid-area: rights;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.footer-container p span {
  font-weight: 700;
}

.footer-container .icons {
  grid-column: 1 / 5;
  grid-area: icons;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.footer-container .icons img {
  margin-right: 20px;
}
@media (min-width: 450px) {
  .middle-copy {
    grid-column: 3 / 13;
  }
}

@media (min-width: 600px) {
  .container .pattern-1 {
    display: block;
  }
  .middle-container {
    margin-top: -70px;
  }
  .middle-container .dark {
    max-width: 696px;
    margin: 0 33px;
  }
  .middle-container .phone {
    margin-top: -132px;
    max-width: 270px;
    grid-column: 2 / 9;
  }
  .middle-container .pattern-2 {
    max-width: 280px;
    margin-top: -60px;
    margin-left: 6px;
    grid-row: 2 / 4;
    grid-column: 6 / 11;
  }
  .middle-copy {
    margin-left: 13px;
    margin-top: 19px;
    grid-row: 5 / 12;
    min-width: 399px;
    grid-column: 6 / 13;
  }
  .image-container {
    background-image: url("../assets/bg-main-tablet.png");
    background-repeat: no-repeat;
    min-height: 808px;
    background-position: -390px -242px;
  }
  .container {
    padding: 40px 24px 0;
  }

  .copy-container h1 {
    margin: 95px 0 0 0;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.73px;
    line-height: 1;
  }
  .copy-container img {
    margin-top: 22px;
  }
  .image-container p {
    margin-top: -20px;
    margin-bottom: 150px;
    max-width: 520px;
  }

  .middle-container {
    max-height: 700px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  .equal-rights {
    display: flex;
    flex-direction: column;
    max-width: 366px;
  }
  .equal-rights .equalizer {
    align-self: flex-start;
  }
  .icons img {
    align-self: center;
  }
}
@media (min-width: 900px) {
  .image-container {
    background-image: none;
  }
  .middle-container .dark {
    min-width: 900px;
    max-width: 1110px;
    margin: 0 165px;
  }
  body {
    max-width: 1440px;
    margin: auto;
    background-image: url("../assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px -200px;
  }
}

@media (min-width: 1400px) {
  .copy-container {
    max-width: 100%;
  }
  .copy-container img {
    margin: 62px 0 0 165px;
  }
  .copy-container h1 {
    margin: 95px 0 0 148px;
    font-weight: 700;
    font-size: 88px;
    letter-spacing: -0.73px;
    line-height: 1;
  }

  .image-container p {
    margin: -40px 0 0 165px;
    font-size: 20px;
    padding-right: 0;
    max-width: 860px;
  }
  .container .pattern-1 {
    max-height: 468px;
    top: -85px;
    right: -22px;
  }
  .middle-copy {
    grid-row: 3 / 12;
    margin-left: -25px;
    min-width: 446px;
    min-height: 625px;
    padding: 60px 56px;
    grid-column: 8 / 18;
  }
  .middle-copy h2 {
    font-size: 40px;
    margin: 20px 0 20px 0;
  }
  .middle-copy p:nth-child(2) {
    font-size: 20px;
    line-height: 1.7;
  }
  section {
    margin-top: 130px;
  }
  .middle-copy .four {
    margin: 10px 15px 20px 6px;
  }
  .middle-container .phone {
    margin-left: 237px;
    margin-top: -210px;
    max-width: 312px;
    grid-column: 1 / 8;
  }

  .middle-container .pattern-2 {
    max-width: 312px;
    margin-top: -70px;
    margin-left: -44px;
  }
  footer {
    margin-top: 100px;
  }
  .footer-container {
    max-width: 1110px;
    margin: auto;
  }
  .equal-rights {
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
  }
  .rights {
    max-width: 366px;
  }
  .footer-container .icons {
    margin-top: -15px;
  }
}
